$claDuration: 1s;
$claStepValue: 100px;

@media (min-width: 768px) {
    .animated-on-scroll {
        opacity: 0;

        @include transform(translateY($claStepValue) translateZ(0));

        @include transition-property(all);

        @include transition-duration($claDuration);

        &.bottom-to-top-direction, &.left-to-right-direction, &.top-to-bottom-direction, &.right-to-left-direction {
            @include transform(translateY(0));
        }

        &.bottom-to-top-direction {
            @include transform(translateY($claStepValue));
        }

        &.left-to-right-direction {
            @include transform(translateX(-$claStepValue));
        }

        &.top-to-bottom-direction {
            @include transform(translateY(-$claStepValue));
        }

        &.right-to-left-direction {
            @include transform(translateX($claStepValue));
        }

        &.rotated {
            @include transform(rotate(180deg));
        }

        &.already-animated {
            opacity: 1;

            @include transform(translateX(0) translateY(0) translateZ(0) rotate(0));
        }
    }
}